<div class='header'>
  <h2>{{name}}</h2>
</div>

<div class='content'>

  <p> Color Map: {{#link-to 'colormaps.show' colormap}}{{colormap.name}}{{/link-to}} </p>

  <div id="canvas-container">{{canvas-spheremap width=width height=height heightmap=model}}</div>
</div>
