<div class='content'>
  <h2>{{name}}</h2>

  <p> Color Map: {{#link-to 'colormaps.show' colormap}}{{colormap.name}}{{/link-to}} </p>

  <!-- <canvas {{bind-attr width=width height=height}}></canvas> -->
  <div id="canvas-container">{{canvas-sphere colormap width height}}</div>
</div>
