<nav>
  {{link-to "Planet Generator" "index" class="main"}}
  <input id="bmenu" class="burgercheck" type="checkbox" />
  <label for="bmenu" class='burgermenu'></label>

  <div class="menu">
    {{link-to "Height Maps" "heightmaps.index" class="icon-help"}}
    {{link-to "Color Maps" "colormaps.index" class="icon-gauge"}}
  </div>
</nav>

