<div class='pure-menu'>
  {{link-to "Planet Gen" "index" class="pure-menu-heading"}}
  <ul class='pure-menu-list'>
    <li class='pure-menu-item'>
      {{link-to "Height Maps" "heightmaps.index" class="pure-menu-link"}}
    </li>
    <li class='pure-menu-item'>
      {{link-to "Color Maps" "colormaps.index" class="pure-menu-link"}}
    </li>
  </ul>
</div>

